body{
    font-size: 14px;
    font-family: Roboto;
}

.head-line{
    width: 100%;
    height: 3px;
    background: #1F8A70;
}

.basket{
    float: right;
    width: 37px;
    height: 40px;
}

.header-logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-basket,
.price-basket{
    float: right;
}

.title-basket > a{
    color: #1F8A70;
}

.basket-characteristic{
    float: right;
}

.basket-cart,
.basket-info{
    display: inline-block;
    position: relative;
}

.basket-info{
    vertical-align: top;
    color: #1F8A70;
}

.title-basket{
    text-transform: uppercase;
}

.number{
    float: right;
    position: absolute;
}

.basket-cart:after{
    content: "";
}



.basket-cart:before{
    content: "";
    width: 25px;
    height: 20px;
    position:absolute;
    right:-7px;
    font-size:24px;
    background: #ECB200;

}

.quantity_head{
    position: absolute;
    right: 5px;
}

.menu{
    background: #1F8A70;
    margin-bottom: 30px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #fff;
}

.nav-menu > ul > li > a:after,
.nav-menu > ul > li > a:before{
    transition: all .5s;
}

.nav-menu > ul > li > a:after{
    transition: all .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #FFD34E;
    height: 2px;
}

.nav-menu > ul > li > a:before{
    transition: all .5s;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #FFD34E;
    height: 2px;
}

.nav-menu > ul > li > a {
    transition: all .5s;
    position: relative;
}

.nav-menu > ul > li > a:hover:after,
.nav-menu > ul > li > a:hover:before{
    width: 100%;
}

.types{
    width: 270px;
    display: inline-block;
    float: left;
    position: relative;
}

.category{
clear: both;
}

.details{
    position: absolute;
    text-align: center;
    right: 13px;
    top: 286px;
    background-color: #ECB200;
    width: 140px;
    height: 36px;
    line-height: 36px;

}

.details > a{
    color: white;
    vertical-align: middle;

}
.top{
    position: absolute;
    mix-blend-mode: multiply;
    left: 15px;
    top: 35px;
}

.top::before{
    position: absolute;
    content: '';
    width: 269px;
    height: 40px;
    background-color: #1F8A70;
    left: -14px;

}

.top::after{
    background-color: #1F8A70;
    top: 35px;
    content: '';
    display: inline-block;
    height: 40px;
    width: 269px;
    left: -14px;
    position: absolute;
    right: 0;
    -o-transform: skew(-1deg, 5deg);
    -ms-transform: skew(-1deg, 5deg);
    -moz-transform: skew(-1deg, 5deg);
    -webkit-transform: skew(-1deg, 5deg);
    transform: skew(-1deg, 5deg);
    transform-origin: 100%;
    z-index: -1;
}


.section{
    color: white;
    position: relative;
    font-size: 24px;
    margin-left: 10px;
    top: 45px;
}

.product{
    height: 400px;
    width: 210px;
    border: 1px solid #A1A7B1 ;
    position: relative;
    margin-bottom: 15px;

}

.product:hover{
    border: 3px solid #1F8A70;
    margin-bottom: 13px;
}

.product_name{
    color: black;
    font-size: 14px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 16px;
    position: absolute;
    padding-right: 10px;
}

.price{
    position: absolute;
    width: 164px;
    height: 31px;
    background: #1F8A70;
    top: 296px;
    left: 22px;
    color: white;
    text-align: center;
    line-height: 31px;
}

.buy{
    position: absolute;
    width: 164px;
    height: 31px;
    background: #ECB200;
    top: 346px;
    left: 22px;
    color: white;
    text-align: center;
    line-height: 31px;
}

.add-to-cart{
    cursor: pointer;
}

.basket_buy{
    position: absolute;
    width: 19px;
    height: 17px;
    left: 25px;
    top: 7px;
}

.product_img >a> img,
.basket-img{
    width: 30%;
}

.product_img{
    text-align: center;
    vertical-align: bottom;
    height: 190px;
    width: 210px;
    display: table-cell;
    position: relative;
    top: 65px;
}



.photo_product{
    width: 440px;
    height: 297px;
    border: 1px solid #A1A7B1;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 297px;
}

.image{
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    width: 320px;
    text-align: center;
    position: relative;
    left: 60px;
    top: -10px;
}

.photo_product >div > img{
    max-width: 40%;
    padding-top: 5px;
    vertical-align: bottom;
}

.price_goods{
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #1F8A70;
}


.product_info{
    display: inline-block;
    margin-left: 25px;
}

.description{
    width: 601px;
    margin-top: 25px;
}

.price_product{
    font-size: 20px;
    line-height: 23px;
    color: #1F8A70;
}

.quantity{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buy_product{
    position: relative;
    width: 164px;
    height: 31px;
    background: #ECB200;
    bottom: -30px;
    color: white;
    text-align: center;
    line-height: 31px;
}

.character{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.char_value{
    order: 1;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.char{
    font-size: 20px;
}

.border_block{
    border-bottom: 1px solid #B0B0B0;
    height: 18px;
    width: 75%;
    vertical-align: bottom;
}

.minus,
.minusP,
.plusP,
.plus{
    width: 26px;
    height: 26px;
    background: #1F8A70;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    vertical-align: center;
}

.minus >i,
.minusP >i,
.plus > i,
.plusP > i{
    line-height: 26px;
    vertical-align: center;
}

.quantity_sum,
.quantity_sum_P{
    width: 55px;
    height: 26px;
    background: #DBDBDB;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    border: none;
}

.title{
    font-size: 34px;
    line-height: 40px;
    color: #333333;
    font-style: normal;
    font-weight: 300;
}

.characteristic,
.analogy_product{
    margin-top: 8rem;
}

.product_img_similar{
    text-align: center;
    vertical-align: bottom;
    height: 190px;
    width: 210px;
    display: table-cell;
    position: relative;
    top: 65px;
}

.head_table{
    height: 50px;
    background: #1F8A70;
    color: #fff;
}

.head_row{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}

.table_row{
    height: 100px;
}

.name_product{
    font-weight: 700;
    color: #333333;
}

.fa-times{
    color: red;
    font-size: 33px;
}

.table td, .table th  {
    vertical-align: middle;
}

.reset{
    position: absolute;
    width: 170px;
    height: 31px;
    background: #1F8A70;
    color: white;
    text-align: center;
    line-height: 31px;
    display: inline-block;

}

.total-price{
    position: relative;
    width: 200px;
    float: right;
    text-align: right;
    color: #1F8A70;

}

.itog_price{
    color: #1F8A70;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}

.breadcrumb > li>a{
    color:#1F8A70 ;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.fa-chevron-right,
.fa-chevron-left{
    font-size: 10px;

}

.breadcrumb{
    background-color: white;
}

.pagination >li {
    color: #000;
}

.back,
.number_page,
.next,
.inactive,
.active{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;


}

.back,
.number_page,
.next{
    border: 2px solid #1F8A70;
    margin-right: 20px;

}

.inactive{
    border: 2px solid #C8C8C8;
    margin-right: 20px;
    color: #C8C8C8;

}

.back > a,
.number_page > a,
.next > a{
    color: black;
}

.active{
    border: 2px solid #1F8A70;
    margin-right: 20px;
    background: #ECB200;
    color: white;
}

.active > a{
    color: white;
}



.footer-background,
.footer-info{
    background: #FFD34E;
    height: 130px;
    margin-top: 80px;
}

.footer-logo{
    line-height: 130px;
}

.nav-menu-footer{
    display: inline-block;
    width: 80%;
    padding-left: 15px;
}

.footer-logo > img{
    vertical-align: middle;
}

.logo-footer{
    height: 93px;
}

.nav-link-title{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #1F8A70;
}

.nav-link-foot{
    color: #1F8A70;
    font-weight: 300;
    font-size: 24px;

}

.hd-nav-footer{
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
}